* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    font-family: lato, sans-serif;
}

.center {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
}

.header {
    background: #222222;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search {
    margin-left: 40px;
}

.menu,
.account {
    margin-right: 33px;
}

.promo {
    display: flex;
    justify-content: center;
    margin-bottom: 63px;
}

.promo__left {
    width: 50vw;
    background: rgba(113, 103, 105, 0.08);
    padding-left: calc(50vw - 800px);
}

.promo__right {
    width: 50vw;
    display: flex;
    align-items: center;
    padding-left: 64px;
    background: #F1E4E6;
    padding-right: calc(50vw - 800px);
}

.promo__img {
    width: 100%;
    display: block;
}

.promo__content {
    border-left: 12px solid #F16D7F;
    padding-left: 16px;
}

.promo__heading {
    font-weight: 900;
    font-size: 48px;
    color: #222222;
}

.promo__text {
    font-weight: 700;
    font-size: 32px;
}

.fashion {
    color: #F16D7F;
}

.offer-block-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.offer-block {
    margin-bottom: 97px;
}

.offer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.offer:not(:last-child) {
    margin-right: 30px;
}

.offer-img {
    width: 100%;
}

.offer-block-content {
    position: absolute;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
    font-weight: 400;
    line-height: 32px;
}

.span-offer {
    color: #F16D7F;
    font-size: 24px;
    font-weight: 700;
    margin-top: 12px;
}

.offer-block-bottom {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-block-heading {
    text-align: center;
}

.item-heading {
    font-size: 30px;
    line-height: 36px;
    color: #222222;
    margin-bottom: 6px;
}

.item-text {
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
    margin-bottom: 48px;
}

.product-block {
    margin-bottom: 95px;
}

.product-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.product {
    max-width: 360px;
    position: relative;
    margin-bottom: 30px;
}

.product-img {
    width: 100%;
    height: 100%;
    vertical-align: bottom;
}


.product-hover:hover .product-img {
    filter: brightness(40%);
}

.product-hover:hover .add-to-cart {
    display: flex;
}

.add-to-cart:hover {
    box-shadow: 0px 0px 5px #fff;
}

.product-link {
    display: block;
}

.product-info {
    padding: 25px 18px 20px;
    background: #F8F8F8;
}

.product-heading {
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    margin-bottom: 13px;
}

.product-text {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    margin-bottom: 18px;
}

.product-price {
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
}

.add-to-cart {
    display: flex;
    position: absolute;
    top: 190px;
    left: 115px;
    border: 1px solid #FFFFFF;
    padding: 10px 13px 8px;
    border-radius: 1px;
    display: none;

}

.add-to-cart-text {
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    line-height: 26px;
    margin-left: 10px;
}

.browse-all-product {
    display: flex;
    margin: 0 auto;
    text-align: center;
    padding: 15px 39px;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    border: 1px solid #FF6A6A;
    text-transform: capitalize;
    outline: none;
}

.qualitys {
    min-height: 340px;
    background: #222224;
    display: flex;
    justify-content: space-between;
}

.qualitys__item {
    padding-top: 105px;
    padding-bottom: 105px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.qualitys__heading {
    text-align: center;
    font-size: 19.96px;
    line-height: 24px;
    color: #FBFBFB;
}

.qualitys__text {

    max-width: 320px;
    text-align: center;
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    color: #FBFBFB;

}

.subscribe {
    background: url(images/subscribe-bg.jpg) no-repeat;
    background-size: cover;
}

.reviews {
    width: 50%;
    padding-top: 85px;
    padding-bottom: 105px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.reviews__img {
    width: 145px;
    margin-bottom: 30px;
    margin-left: 100px;
}

.reviews__text {
    width: 360px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222224;
}